@import './vars.css';

/* Fancy underlines */

@define-mixin fancy-underline-color $color {
  background-image: linear-gradient($color, $color);
}

@define-mixin fancy-underline-cut $color {
  text-shadow:
    0.06em 0 $color,
    -0.06em 0 $color,
    0.09em 0 $color,
    -0.09em 0 $color,
    0.12em 0 $color,
    -0.12em 0 $color;
}

@define-mixin fancy-underline-size $width {
  background-size: 5px $width;
}

@define-mixin fancy-underline-position $position {
  background-position: 0 $position;
}

@define-mixin fancy-underline $color, $background, $width: 1px, $position: 0.9em {
  @mixin fancy-underline-cut $background;
  @mixin fancy-underline-color $color;
  @mixin fancy-underline-size $width;
  @mixin fancy-underline-position $position;
  background-repeat: repeat-x;
}

@define-mixin remove-fancy-underline {
  text-shadow: none;
  background-image: none;
}

/* Links */

@define-mixin link-base {
  @mixin fancy-underline $off-black, white;

  color: initial;
}

@define-mixin link-activated {
  @mixin fancy-underline-color $pink-desat;
}

@define-mixin link {
  @mixin link-base;

  &:hover,
  &:focus {
    @mixin link-activated;
  }
}
