/*
  Set default element styles
  Defaults based partially on sanitize.css v2.0.0
  github.com/jonathantneal/sanitize.css
*/

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-size: 112.5%; /* 18px */
  line-height: 1.45;
  font-synthesis: none;

}

::selection {
  color: white;
  text-shadow: none;
  background-color: $pink-desat;
  background-color: $purple-desat;
}

html {
  font-family: $serif-fallback-family;
  color: $off-black;
  background-color: white;

  &.is-fontsLoaded {
    font-family: $serif-webfont-family;
  }
}

body {
  margin: 0;

  /*
    Global type enhancements
    Note: The current version of Charter BT doesn't actually use any of these.
    A couple bytes for future proofing, can remove if I decide to get more
    agressive with performance.
  */
  font-variant-ligatures: common-ligatures contextual;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.4em;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

code,
kbd,
pre,
samp {
  font-family: $monospace-font-family;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
